<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Personal Blog about coding." />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&family=Raleway:ital,wght@0,500;0,700;1,400;1,600&display=swap" rel="stylesheet">
        <title>Homepage</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
    <script src="../static/jQuery/jquery-3.5.1.min.js"></script>

        <header class="header_cst">
            <div class="container">
                <div class="header_cst_inner">
                    <div class="header_cst_logo">
                        <a href="#">
                            <img src="img/building.jpg" alt="School Logo">
                        </a>
                    </div>
                    <nav class="menu_cst">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">About me</a></li>
                        </ul>
                    </nav>
                    <div class="header_cst_contact">
                        <a href="https://mail.bjtu.edu.cn/">Contact me</a>
                    </div>
                    <nav class="header_cst_menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">About me</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <section class="banner_cst">
            <div class="banner_cst_text">
                <h1>Hello!</h1>
                <p>I'm a Junior from Software Engineering College of BJTU.</p>
            </div>
            <div class="banner_cst_image">
                <img src="img/pic10.svg" alt="Coding Illustration">
            </div>
        </section>
        <main class="main_cst">
            <div class="container">
                <div class="main_cst_title">
                    <h1>Learning How to Code</h1>
                    <p>Here are three of the best tips that I use while learning how to code.</p>
                </div>
                <section class="intro">
                    <div class="intro-card card-wide intro-text">
                        <div class="intro-text-content">
                            <h2>1. Coding is not rocket science</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.
                                Lbore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            </p>
                        </div>
                    </div>
                    <div class="intro-card card-tall intro-pic">&nbsp;</div>
                    <div class="intro-card card-wide2 intro-text">
                        <div class="intro-text-content">
                            <h2>2. Keep your goals in mind</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.
                                Lbore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            </p>
                        </div>
                    </div>
                    <div class="intro-card card-tall2 intro-pic">&nbsp;</div>
                    <div class="intro-card card-wide3 intro-text">
                        <div class="intro-text-content">
                            <h2>3. Don't let fear suck you in</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.
                                Lbore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            </p>
                        </div>
                    </div>
                    <div class="intro-card card-tall3 intro-pic">&nbsp;</div>
                </section>
                <div class="main_cst_title">
                    <h1>My Classes</h1>
                    <p>Learn more about coding and what I´m learning</p>
                </div>
                <section id="blog" class="blog_cst">
                    <a href="#" class="blog_cst_entry">
                        <div class="blog_cst_entry_title">Data Base System</div>
                        <div class="blog_cst_entry_info">September 2020 - Wang</div>
                    </a>
                    <a href="#" class="blog_cst_entry">
                        <div class="blog_cst_entry_title">Operating System</div>
                        <div class="blog_cst_entry_info">September 2020 - Zhang</div>
                    </a>
                    <a href="#" class="blog_cst_entry">
                        <div class="blog_cst_entry_title">Computer System</div>
                        <div class="blog_cst_entry_info">September 2020 - GAO</div>
                    </a>
                    <a href="#" class="blog_cst_entry">
                        <div class="blog_cst_entry_title">Mobile App Developmen</div>
                        <div class="blog_cst_entry_info">September 2020 - Zhang</div>
                    </a>
                    <a href="#" class="blog_cst_entry">
                        <div class="blog_cst_entry_title">Web-front Design Development</div>
                        <div class="blog_cst_entry_info">September 2020 - Zeng</div>
                    </a>
                    <a href="#" class="blog_cst_entry">
                        <div class="blog_cst_entry_title">Data Structure</div>
                        <div class="blog_cst_entry_info">September 2020 - Zhao</div>
                    </a>
                </section>
            </div>
        </main>
        <footer class="footer_cst">
            <div class="container">
                <div class="footer_cst_inner">
                    <div class="footer_cst_logo">
                        <h4>Information</h4>
                        <div class="footer_cst_logo_info">
                            Xie Jiaxin<br>
<!--                            12345 Webdeveloper-Street 2a<br>-->
<!--                            AT-6020 Austria<br>-->
                            E-Mail: 18301111@bjtu.edu.cn<br>
                            Tel: 18801475967<br>
                        </div>
                    </div>
                    <div class="footer_cst_links">
                        <h4>Quicklinks</h4>
                        <ol>
                            <li><a href="/#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">About Me</a></li>
                        </ol>
                    </div>
<!--                    <div class="footer_cst_socialmedia">-->
<!--                       <h4>Social Media</h4> -->
<!--                        <div class="footer_cst_socialmedia_inner">-->
<!--                            <a href="#"><img src="img/linkedin.svg" alt="LinkedIn Logo"></a>-->
<!--                            <a href="#"><img src="img/facebook.svg" alt="Facebook Logo"></a>-->
<!--                            <a href="#"><img src="img/twitter.svg" alt="Twitter Logo"></a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </footer>
    <script>
        // $(document).ready(function(){
        //     $.post('http://localhost:8080/fresh', "")
        //         .then((response)=>{
        //             let message = response
        //             console.log(message)
        //             if (message === 'successed') {
        //                 window.location.href='http://localhost:8080/homepage.html'
        //             }
        //             else if(message === 'Not Found') {
        //                 // window.location.href='http://localhost:62732/2770_www.dowebok.com-9305/index.html'
        //             }
        //         })
        // });
    </script>
    </body>
</html>